<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>work.lemma.vz</string>
	<key>CFBundleName</key>
	<string>Lemma Virtual Machine</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Lemma connects to its private virtual machine and to services you configure on your network.</string>
</dict>
</plist>
